<div id="chatContainer">
    <div id="players">
        <h1>Users: </h1>

        <ul class="playerList">
            @foreach (var user in Users)
            {
                <li class="playerList">@user.Name</li>
            }
        </ul>
    </div>

    <div  id="messages"> <! –– class="overflow-auto" ––>
        <h1>Messages: </h1>
        @foreach (var message in messages)
        {
            if (message.GeneratedFromServer)
            {
                <div  class="message" id="serverMessage">@message.Text</div>
            }
            else if (message.AuthorName == UserName)
            {
                <div class="message" id="myMessage" >@message.Text</div>
            }
            else
            {
                <div class="message" id="othersMessage" >@message.AuthorName: @message.Text</div>
            }
        }
    </div>

    <div id="form"> <!-- class="form-group" -->
        <label>
            Message:
            <input @bind="messageInput" id="messageForm" @onkeyup="@KeyPress"/>
        </label>
        <button @onclick="Send">Send</button>
    </div>
    <button @onclick="LeaveRoom">Leave</button>

</div>

@code {
    [CascadingParameter] public HubConnection hubConnection { get; set; }

    [Parameter] public List<UserModel> Users { get; set; }
    [Parameter] public string UserName { get; set; }

    public List<MessageModel> messages = new List<MessageModel>();
    public string messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection.On<MessageModel>(ServerToClient.RECEIVE_MESSAGE, (MessageModel message) =>
        {
            messages.Add(message);
            StateHasChanged();
        });
    }

    async Task Send()
    {
        if(!String.IsNullOrWhiteSpace(messageInput))
        {
            await hubConnection.SendAsync(ClientToServer.SEND_MESSAGE, new MessageModel(messageInput, UserName));
            messageInput = "";
        }
    }

    async Task KeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
            await Send();
    }

    async Task LeaveRoom()
    {
        await hubConnection.SendAsync(ClientToServer.LEAVE_ROOM);
    }

}