<div id="chatContainer">
    <div id="players">
        <ul class="playerList">
            @foreach (var user in Users)
            {
                if (user.Name == UserName)
                {
                    <li class="playerList">@user.Name: @user.Points</li>
                }
                else
                {
                    <li class="playerList">@user.Name: @user.Points</li>
                }
            }
        </ul>
    </div>

    <div id="messages">
        @foreach (var message in messages)
        {
            if (message.GeneratedFromServer)
            {
                <div class="message" id="serverMessage">@message.Text</div>
            }
            else if (message.AuthorName == UserName)
            {

                <div class="message" id="myMessage">@message.Text</div>
            }
            else
            {
                <div class="message" id="othersMessage"><span class="messageNickaname">@message.AuthorName:</span> @message.Text</div>
            }
        }
    </div>

    <div id="form">
        <label>
            <input @bind="messageInput" id="messageForm" @onkeyup="@KeyPress" placeholder="Message" />
        </label>
        <button @onclick="Send"><img src="/images/filled-sent.ico"/></button>
    </div>

</div>

@code {
    [CascadingParameter] public HubConnection hubConnection { get; set; }

    [Parameter] public List<UserModel> Users { get; set; }
    [Parameter] public string UserName { get; set; }

    public List<MessageModel> messages = new List<MessageModel>();
    public string messageInput;

    public const int MAX_MESSAGE_LENGTH = 256;

    protected override async Task OnInitializedAsync()
    {
        hubConnection.On<MessageModel>(ServerToClient.RECEIVE_MESSAGE, (MessageModel message) =>
        {
            Console.WriteLine(message.Text);
            messages.Add(message);
            StateHasChanged();
        });
    }

    async Task Send()
    {
        if(String.IsNullOrWhiteSpace(messageInput))
        {
            //cant send empty message
            return;
        }

        if(messageInput.Length > MAX_MESSAGE_LENGTH)
        {
            //too long message
            return;
        }

        await hubConnection.SendAsync(ClientToServer.SEND_MESSAGE, new MessageModel(messageInput, UserName));
        messageInput = "";
    }

    async Task KeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
            await Send();
    }
}