<div id="loginContainer">

    <div id="roomCreator">
        <label>
            Room:
            <input @bind="newRoomName" @onkeyup="@AddRoomPressKey" />
            <button @onclick="@AddRoom">Add</button>
        </label>

        @if (choosenRoom != null)
        {
            <div class="form">
                <div>Join to @choosenRoom.Name:</div>
                <label>
                    User:
                    <input @bind="userName" @onkeyup="@JoinPressKey" />
                    <button @onclick="TryJoin">Join</button>
                </label>
            </div>
        }
    </div>

    <div id="roomBrowser">
        @for (int i = 0; i < roomDTOs.Count(); i++)
        {
            int temp = i;
            <div class="singleRoomContainer">
                <span>@(temp + 1). @roomDTOs[i].Name : @roomDTOs[i].NumOfUsers/3</span>
                <button @onclick="@(() => (ChooseRoom(temp)))">Choose</button>
            </div>
        }
    </div>
</div>

@code {
    [CascadingParameter] HubConnection hubConnection { get; set; }

    public string userName;
    public string errorType;

    public List<RoomDTO> roomDTOs = new List<RoomDTO>();

    public string newRoomName { get; set; }
    public RoomDTO choosenRoom { get; set; }

    private const int MAX_NUM_OF_ROOMS = 20;
    private const int MAX_NUM_OF_USERS_IN_ROOM = 3;

    protected override async Task OnInitializedAsync()
    {
        hubConnection.On(ServerToClient.RECEIVE_GET_ROOMS, (List<RoomDTO> roomDTOs) =>
        {
            this.roomDTOs = roomDTOs;
            StateHasChanged();
        });

        await hubConnection.SendAsync(ClientToServer.GET_ROOMS);
    }

    async Task TryJoin()
    {
        if (!String.IsNullOrWhiteSpace(userName) && choosenRoom.NumOfUsers < MAX_NUM_OF_USERS_IN_ROOM)
        {
            await hubConnection.SendAsync(ClientToServer.JOIN_ROOM, userName, choosenRoom.Name);
        }
    }

    async Task AddRoom()
    {
        if(roomDTOs.Count() >= MAX_NUM_OF_ROOMS)
        {
            //too many rooms
            return;
        }

        if (roomDTOs.Any(x => x.Name == newRoomName))
        {
            //There is already room with this name
            return;
        }

        await hubConnection.SendAsync(ClientToServer.CREATE_ROOM, newRoomName);
        newRoomName = "";
    }

    async Task JoinPressKey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
            await TryJoin();
    }

    async Task AddRoomPressKey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
            await AddRoom();
    }

    async Task ChooseRoom(int roomNumber)
    {
        choosenRoom = roomDTOs[roomNumber];
    }

}
